/* color palette from <https://github.com/vuejs/theme> */
:root {
--turfGreen:  #6f8c69;
--celadonGreen: #88A18B;
--green: #C8C8A9;
--brown: #423025;
--ivory: #ede4df;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white-mute);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 16px;
  overflow: auto;
  font-family: 'Noto Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
