@import './base.css';

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  max-width: 50rem;
  text-indent: 3rem;
  margin-bottom: 2rem;
}
